.rule {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--color-bg-container-primary-transparent),
    var(--color-divider),
    var(--color-bg-container-primary-transparent)
  );
}
